@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

* {
  font-family: nunito, khula;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

body {
  background-color: #f1faee;
  margin: 0;
  padding: 0;
}

p {
  font-family: khula;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  background-color: #1d3557;
  overflow: hidden;
  font-size: 1.25rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-title {
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding-right: 3rem;
}

.navbar li {
  margin-right: 1.25rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* Home */
.title {
  margin-top: 5.5rem;
  text-align: center;
}

/* About */

.about {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.about img {
  max-width: 25rem;
  max-height: 25rem;
  margin-right: 3rem;
  filter: drop-shadow(0 0 0.5rem black)
}

.about .about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 30rem;
  max-height: 25rem;
  overflow: hidden;
}

.about p {
  font-size: 1.15rem;
}

/* Footer */
.footer {
  background-color: #1d3557;
  padding-top: .5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.footer a {
  color: white;
}